* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.header {
    display: flex;
    justify-content: center;
}

.navbar-expand-lg {
    width: 77%;
}
.py-5{
   padding-top: 1rem!important; 
}
.mb-4{
    color: white;
    text-align: center;
    font-size: 42px;
    font-weight: 800;
    font-style: italic;
}
.about-head{
    color: white;
    font-style: italic;
}
.about-card-main-con{
    display: flex;
    justify-content: center;
}

.size{
    color: white;
    font-size: 30px;
}
.margin-left{
    margin-left: 25px;
}
.contact-main-container{
    display: flex;
  justify-content: space-evenly;
}
.con-style {
    border: 2px solid white;
    border-radius: 50%;
    font-size: 20px;
    padding: 10px 13px;
    background-color: white;
}
.mb-0{
    color: #a1cb3b;;
}
@media screen and (max-width:1069px) {
    .about-card-main-con{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        
    }
   
}
@media screen and (max-width:792px) {
    .margin-left{
       
        margin-left: 5px;
    }
   
}
@media screen and (min-width:1884px) {
    .form-con{
       width: 20%;
    }
   
}
@media screen and (max-width:770px) {
    .contact-main-container{
       display: flex;
       flex-wrap: wrap;
       margin-left: 93px;
    }
    .form-con{
       margin-top: 40px;
     }
   
}
@media screen and (max-width:766px) {
 .p4{
    padding: 3rem!important;
  }
   
}
@media screen and (min-width:400px) {
 #email-size{
    font-size:20px;
  }
   
}
@media screen and (max-width:399px) {
 #email-size{
    font-size: 18px;
  }
   
}
@media screen and (max-width:502px) {
    .contact-main-container{
    margin-left: 5px;
  }
   
}



    @media screen and (max-width: 991px){
        #second-img{
            margin-left: 56px;
            width: 611px;
    }
    }
    @media screen and (max-width:768px){
        #second-img{
            margin-left: 9px;
            width: 611px;
    }
    }
    @media screen and (min-width: 992px){
        #second-content{
            margin-top: 75px;
            
    }
    }
    @media screen and (max-width: 992px){
        #second-content{
            margin-top: 28px;
            
    }
    }
    @media screen and (max-width:515px){
        #second-img{
            margin-left: 3px;
        
    }
    }
    @media screen and (max-width:992px){
        #about-para{
               padding: 0rem 2rem;
            }
        
    }
    @media screen and (min-width:429px){
        #about-head{
            font-size: 30px;
               padding: 0rem 2rem;
            }
        
    }
    @media screen and (max-width:372px){
        #about-head{
            font-size: 26px;
               padding: 0rem -2rem;
            }
        
    }
    @media screen and (max-width:1200px){
        #footer-content{
            font-size: 26px;
               
            }
        
    }
    .cursor a:hover{
          color: #a1cb3b;
    }
   