* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.header {
    display: flex;
    justify-content: center;
}

.navbar-expand-lg {
    width: 77%;
}
.py-5{
   padding-top: 1rem!important; 
}
.mb-4{
    color: white;
    text-align: center;
    font-size: 42px;
    font-weight: 800;
    font-style: italic;
}
.about-head{
    color: white;
    font-style: italic;
}
.about-card-main-con{
    display: flex;
    justify-content: center;
}

.size{
    color: white;
    font-size: 30px;
}
.margin-left{
    margin-left: 25px;
}
.contact-main-container{
    display: flex;
  justify-content: space-evenly;
}
.con-style {
    border: 2px solid white;
    border-radius: 50%;
    font-size: 20px;
    padding: 10px 13px;
    background-color: white;
}
.mb-0{
    color: #a1cb3b;;
}
@media screen and (max-width:1069px) {
    .about-card-main-con{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        
    }
   
}
@media screen and (max-width:792px) {
    .margin-left{
       
        margin-left: 5px;
    }
   
}
@media screen and (min-width:1884px) {
    .form-con{
       width: 20%;
    }
   
}
@media screen and (max-width:647px) {
    .contact-main-container{
       display: flex;
       flex-wrap: wrap;
       margin-left: 61px;
    }
    .form-con{
       margin-top: 40px;
     }
   
}
@media screen and (max-width:766px) {
 .p4{
    padding: 3rem!important;
  }
   
}
@media screen and (max-width:502px) {
    .contact-main-container{
    margin-left: 5px;
  }
   
}